<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="APP_LOG_HOME" value="./logs"/>
    <springProfile name="local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %date{ISO8601} %-5level %logger{25}: %msg%n
                </pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <appender name="file" class="ch.qos.logback.core.FileAppender">
            <file>${APP_LOG_HOME}/application.log</file>
            <encoder>
                <pattern>
                    %date{ISO8601} %-5level %logger{48}: %msg[%thread]%n
                </pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="stdout"/>
            <appender-ref ref="file"/>
        </root>
        <logger name="com.premraj" level="debug"/>
    </springProfile>


    <springProfile name="!local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <pattern>
                        <pattern>
                            {
                            "system": "S07273",
                            "message": "%message",
                            "level": "%level",
                            "thread": "%thread",
                            "logClass": "%class{32}",
                            "logMethod": "%method"
                            }
                        </pattern>
                    </pattern>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>20</maxDepthPerThrowable>
                            <maxLength>4096</maxLength>
                            <shortenedClassNameLength>32</shortenedClassNameLength>
                            <exclude>sun\.reflect\..*\.invoke</exclude>
                            <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>

                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="stdout"/>
        </root>
        <!--<logger name="com.premraj" level="DEBUG"/>-->
    </springProfile>
</configuration>